In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.inspection import inspect
from Config import username, password, host, port, protocol

In [4]:
csv_file = "C://Users//Angiescomputer//Desktop//project 2//cars_all_three_rows.csv"
customer_data_df = pd.read_csv(csv_file)
customer_data_df.head()

                 year/make/model     price fuel type
0          2019 Dodge Journey GT  $27,891   Gasoline
1           2021 Toyota RAV4 XLE  $37,951   Gasoline
2     2021 Toyota Highlander XLE  $43,951   Gasoline
3                 2019 BMW 330 i  $37,991   Gasoline
4  2020 Mazda CX-5 Grand Touring  $28,988   Gasoline

In [7]:
new_customer_data_df = customer_data_df[[ 'price', 'fuel type']].copy()
new_customer_data_df.head()

      price fuel type
0  $27,891   Gasoline
1  $37,951   Gasoline
2  $43,951   Gasoline
3  $37,991   Gasoline
4  $28,988   Gasoline

In [ ]:
json_file = "C://Users//Angiescomputer//Desktop//project 2//true_car.jsonc"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

In [ ]:
inspector.get_table_names()

In [ ]:
#protocol = 'postgresql'
#username = '<user name>'
#password = '<password>'
#host = 'localhost'
#port = 5432
database_name = 'customer_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
inspector = inspect(engine)

In [ ]:
### Use pandas to load json converted DataFrame into database

In [ ]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

In [ ]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

In [ ]:
pd.read_sql_query('select * from customer_name', con=engine).head()

In [ ]:
### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()